.Compact__card{
    display: flex;
    flex: 1;
    height: 7rem, !important;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
}
.Compact__card:hover{
    box-shadow: none;
}

.radial__box{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}
.CircularProgressbar{
    width: 4rem !important;
    overflow: visible;
}
.CircularProgressbar-path{
    stroke: white!important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
}
.CircularProgressbar-trail{
    display: none;
}
.CircularProgressbar-text{
    fill: white!important;
}
.radial__box>span{
    font-size: 17px;
    font-weight: bold;
}